.space {
  height: 1cm;
  widows: initial;
}
.text {
  font-family: "Courier New", Courier, monospace;
  font-size: initial;
  font-style: initial;
  text-align: left;
}
.nenbieutuong {
  color: darkblue;
  width: inherit;
  height: inherit;
  display: inherit;
}
.font {
  font-size: larger;
  font-weight: normal;
  text-align: justify;
}
